@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  color: white;
}
.container {
  width: 80%;
  background: rgb(24, 18, 59);
  margin: 1rem auto;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.content {
  width: 50%;
  padding: 6rem;
}
.content h1 {
  font-size: 3rem;
}
.content a {
  color: black;
  background: lightblue;
  text-decoration: none;
  padding: 0.8rem 2.5rem;
  width: 20%;
  outline: none;
  border-radius: 2rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}
.content .link {
  margin-top: 2rem;
}
a:hover {
  background: transparent;
  color: brown;
}
